/vendor/
/node_modules/
.npm/
.env
/database/*.sqlite
/database/*.sqlite-journal
/database/*.sqlite-wal
/database/*.sqlite-shm
.env.backup
.env.*.backup
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/*.log
/storage/debugbar/
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
.wwebjs_auth/
.wwebjs_cache/
